.editButtonOfUserList {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-left: 5px;
    width: 49px;
    background-color: lemonchiffon;
}

.table {
    padding: 0;
    background-color: lightblue;
    width: 690px;
    height: 200px;
    margin:20px auto;
}

td.cellStyle {
    height: 30px;
    padding: 0;
    margin: 0;
    width: 230px;
}

.link {
    margin: 20px auto;
    align-content: center;
    width: 100px;
}